[
{% for entry in log_entries %}
  {% if entry.MESSAGE %}
  {
    "timestamp": "{{ entry.__REALTIME_TIMESTAMP | int / 1000000 | timestamp_utcformat('%Y-%m-%dT%H:%M:%SZ') }}",
    "user": "{{ entry.TLOG_USER }}",
    "host": "{{ inventory_hostname }}"
  }{% if not loop.last %},{% endif %}
  {% endif %}
{% endfor %}
]
