[
{% for entry in log_entries %}
  {% if entry.MESSAGE %}
  {
    "timestamp": "{{ entry.__REALTIME_TIMESTAMP | int / 1000000 }}",
    "user": "{{ entry.TLOG_USER }}",
    "host": "{{ inventory_hostname }}"
  }{% if not loop.last %},{% endif %}
  {% endif %}
{% endfor %}
]
